body {
  background-color: #2f3640;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
}
.App {
  display: grid;
  place-items: center;
  color: beige;
  /* background-color: white; */
  flex-direction: column;
  /* justify-content: center; */
  place-items: center;
}
.container {
  display: flex;
  /* place-items: ; */
  justify-content: space-around;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  margin: 50px 0 0 0;
  background-color: #353b48;
  /* justify-content: space-around; */
}
